
<style>
    h1{
        font-family: 'Roboto Mono', monospace;
    }
    .titulo_site{
        font-family: 'Roboto Mono', monospace;
        text-align: center;
        font-size: 50px;
        line-height: 1;
        margin: 0;
        color: rgb(48, 47, 47);
    }
    body{
        background-color: gray;
    }
    .segundo_titulo{
        font-family: 'Roboto Mono', monospace;
    }

</style>